<h1>Map</h1>

<h2>Route <strong id="km"></strong></h2>
<div id="gmap"></div>
<div id="route"></div>

<style>
#gmap {
    width: 1000px; 
    height: 600px;
}
#route {
    width: 1000px; 
    height: 600px;
}
</style>